extends ./layout/index

block contenido 
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina} 
                blockquote Ut convallis nunc sed massa pulvinar fringilla. Cras enim justo, condimentum ac massa et, consequat faucibus urna. Donec et leo id enim scelerisque auctor sed at metus. Vestibulum laoreet tellus aliquet risus volutpat dignissim. Sed vulputate, ante at sodales ultrices, quam mauris dignissim justo, sed maximus metus lectus nec ligula. Nullam malesuada neque eu nisi tempus aliquam quis eget neque. Phasellus in urna vitae purus dignissim tincidunt.

                p Donec pretium, sem at ultrices aliquam, sem enim aliquam turpis, sed placerat nisi ante in dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce at efficitur arcu, id tempor lacus.

                p Nunc neque erat, ullamcorper eu sagittis non, dictum ut odio. Duis dictum feugiat ex, vel aliquam libero ultrices quis. Ut volutpat id diam vitae vehicula. Duis mattis leo ligula, vitae ultrices est interdum vitae.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nunc neque erat, ullamcorper eu sagittis non, dictum ut odio. Duis dictum feugiat ex, vel aliquam libero ultrices quis. Ut volutpat id diam vitae vehicula. Duis mattis leo ligula, vitae ultrices est interdum vitae.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Nunc neque erat, ullamcorper eu sagittis non, dictum ut odio. Duis dictum feugiat ex, vel aliquam libero ultrices quis. Ut volutpat id diam vitae vehicula. Duis mattis leo ligula, vitae ultrices est interdum vitae.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Nunc neque erat, ullamcorper eu sagittis non, dictum ut odio. Duis dictum feugiat ex, vel aliquam libero ultrices quis. Ut volutpat id diam vitae vehicula. Duis mattis leo ligula, vitae ultrices est interdum vitae.